.creator__contents__arrangement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator__left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.creator__right-side {
    display: flex;
}

.creator__column-space {
    width: 3vw; 
}

.creator__lists{
    color: white;
    width: auto; 
}