.container {
    width: min(90%, 45rem);
    margin: 1rem auto;
    min-height: 100%;
}

.character__left img {
    max-width: 100%;
    max-height: 100%;
}

.character__details li {
    list-style: disc;
    margin-left: 1.5rem;
}

.character__series {
    color: white;
    width:25vw; 
}

.character__right-side {
    display: flex;
}

.like-button {
    background: transparent;
    border: solid;
    font-size: 24px; 
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.icon-container {
    color: white;
}

.icons {
    font-size: 60px; 
    cursor: pointer;
    transition: color 0.3s;
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.icon-container.clickedHeart {
    color: red;
}

.icon-container.clickedStar {
    color: yellow;
}

