* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.home{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: black;
  overflow-y: auto;
  scrollbar-width: thin;
}

/** Header **/

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #F0131E;
  padding: 2% 4%;
}

.logo{
  display: flex;
  align-items: center;
}

.myplace{
  height: 4rem;
  color: white;
  font-size: 2.5rem;
  font-family: 'Comic Sans MS', cursive;
  cursor: pointer;
}

.marvel-logo {
  width: 120px;
  margin-right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .marvel-logo {
    width: 60px;
  }
  .myplace{
    height: 2.0rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 530px) {
  .header{
    padding: 0px 0px;
  }
  .marvel-logo {
    width: 55px;
  }
}

.header .navigation{
  list-style: none;
}

.header .navigation ul li{
  display: inline-block;
  padding: 10px 40px;
}

.header .navigation ul li a{
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.header .btn{
  padding: 10px 50px;
}

.header .btn button ,.col button{
  padding: 10px 30px;
  background-color: #393939;
  border: 1px solid #393939;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/** Body of the Landing page **/

.body{
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh; 
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.col{
  flex-basis: 45%;
  margin-left: 45px;
}

.col h2{
  font-size: 45px;
  color: white;
  font-weight: 600;
}

.col p{
  font-size: 20px;
  color: #009EEB;
  font-weight: 500;
  margin-top: 20px;
}

.col button{
  margin-top: 30px;
}

.card{
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  margin: 1%;
  padding: 0.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.6s ease;
  cursor: pointer;
}

.result{
  width: 85%;
  display: inline-block;
  box-sizing: border-box;
  height: 200px;
  margin: 1%;
  padding: 5%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.6s ease;
  cursor: pointer;
}

.card:hover{
  transform:translateY(-10px);
}

.card img{
  flex: 1;
  max-width: 100%;
  max-height: 36rem;
}

.loading-container {
  display: flex;
  justify-content: center;
}

/** Footer **/

.footer {
  background-color: black;
  text-align: center;
}

/** Icons **/

.icon-container {
  color: white;
}

.icons {
  font-size: 60px; 
  cursor: pointer;
  transition: color 0.3s;
}

.icon-text {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.icon-container.clickedHeart {
  color: red;
}

.icon-container.clickedStar {
  color: yellow;
}


/** Detail pages (Characters, Comics, Series, Events, and Creators) **/

.container.large {
  width: 85%;
  /* margin-left: 0.75%; */
  margin: 1rem auto;
}

.details-container {
  display: flex;
  gap: 2rem;
  line-height: 1.6;
}

.details-container img{
  width: 50%
}

.link-style {
  text-decoration: none;
}

.link-style:hover {
  text-decoration: none;
}

@media screen and (max-width: 1080px) {
  /* Example: Adjust styles for screens with a width of 768 pixels or less */
  .details-container {
    flex-direction: column;
  }
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-side img {
  width: 100%
}

.right-side {
  display: flex;
}

.contents {
  flex: 1;
  min-width: 35ch;
  color: white;
}

.contents__arrangement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-space {
  width: 3vw; 
}

.middle-column-spacing {
  width: 2vw; 
}

/** DataList component **/

.lists{
  color: white;
  width: auto; 
}

/** User Authentication Pages **/
.auth-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 75px;
  width: 600px;
  border-radius: 30px;
  background-color: white;
  padding-bottom: 30px; 
}

.auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.auth-text {
 color: #F0131E;
 font-size: 48px;
 font-weight: 700;
}

.auth-inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.auth-input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

@media screen and (max-width: 620px) {
  /* Example: Adjust styles for screens with a width of 768 pixels or less */
  .auth-container {
    width: 400px;
  }

  .auth-input {
    width: 300px;
  }
}

.auth-img {
  margin: 0px 30px;
}

.auth-input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot-password span {
  color: #F0131E;
  cursor: pointer;
}

.auth-submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.auth-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: white;
  background: #F0131E;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}

